<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="ConectarAoSQLServer"
			 connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=ShopCar;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
