@model IEnumerable<FuelViewModel>

@{
    ViewData["Title"] = "Lista de Combustível";
}

<a class="nav-link text-dark btn btn-primary" asp-area="" asp-controller="Fuel" asp-action="Create">Cadastrar combustiveis</a>


<div class="container">
    <h1>Combustiveis</h1>

    <form method="post">
        <div class="form-group">
            <input type="text" class="form-control" id="search" name="search" placeholder="Digite para pesquisar...">
        </div>
        <button type="submit" class="btn btn-primary">Pesquisar</button>
    </form>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Descrição</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Descricao</td>
                    <td>@item.Status</td>
                </tr>
            }
        </tbody>
    </table>
</div>

